<div class="gt_newpost" style=" outline: 0; vertical-align: baseline; width: 100%; margin-top:20px; display:inline-table;">
    <div class="form-overlay"></div>
    <form method="post" action="https://www.specificfeeds.com/widgets/subscribeWidget/QzU0VlMrS25WQ1ZHUTVhUTJqc2dGNFVkekI1ZFpmaDZXL3hMMGxzT3NCZVpwTjAwV3hoZkU3U3RPNjcrV21idTlnYzF4STR5emU1ZXhwQXQwNTRmcnp1VmpEb3FDa25TbXY1bDZLYXhJVDlsRU0rREpwcElHaGQ5dFlHek9pWEV8R091cGtnaHcxSURpbWI4WW5HTy9WOTI3QktkVE1KZ0l2cTA3aGVXSGhGRT0=/8">
        <p style="margin: 0px;"> Get new posts by email:</p>
        <input type="text" name="data[Widget][email]" placeholder="Enter your email" value="" style="margin: 15px 0 0 0; line-height: 38px; font-size: 16px; width: 100%; text-align: center;">
        <input type="hidden" name="data[Widget][feed_id]" value="QzU0VlMrS25WQ1ZHUTVhUTJqc2dGNFVkekI1ZFpmaDZXL3hMMGxzT3NCZVpwTjAwV3hoZkU3U3RPNjcrV21idTlnYzF4STR5emU1ZXhwQXQwNTRmcnp1VmpEb3FDa25TbXY1bDZLYXhJVDlsRU0rREpwcElHaGQ5dFlHek9pWEV8R091cGtnaHcxSURpbWI4WW5HTy9WOTI3QktkVE1KZ0l2cTA3aGVXSGhGRT0=">
        <input type="hidden" name="data[Widget][feedtype]" value="8">
        <input type="submit" value="Subscribe" name="subscribe" class="sub_inp_subt" style="line-height: 38px; margin: 15px 0 0 0; background-color: #48525d; color: #fff; width: 100%;  font-size: 20px; cursor: pointer;  box-shadow: 1px 1px 0px #666 !important;">
    </form>
</div>