{% if page.author_profile or layout.author_profile or page.sidebar %}
  <div class="sidebar sticky">
  {% if page.author_profile or layout.author_profile %}{% include author-profile.html %}{% endif %}
  {% if page.sidebar %}
    {% for s in page.sidebar %}
      {% if s.image %}
        <img src=
        {% if s.image contains "://" %}
          "{{ s.image }}"
        {% else %}
          "{{ s.image | relative_url }}"
        {% endif %}
        alt="{% if s.image_alt %}{{ s.image_alt }}{% endif %}">
      {% endif %}
      {% if s.title %}<h3>{{ s.title }}</h3>{% endif %}
      {% if s.text %}{{ s.text | markdownify }}{% endif %}
      {% if s.nav %}{% include nav_list nav=s.nav %}{% endif %}
    {% endfor %}
    {% if page.sidebar.nav %}
      {% include nav_list nav=page.sidebar.nav %}
    {% endif %}
  {% endif %}
    {% if page.show_taxonomy %}

      <h2>Blog</h2>

      <a href="/blog/">All posts</a>

      <h3 class="nav__title">Categories</h3>


      <ul class="taxonomy-list">
        {% assign categories = site.categories | sort %}
        {% for category in categories %}

        <li>
          {% capture category_word %}{{ category[0] | strip_newlines }}{% endcapture %}
          <a href="{{ category_word | slugify | prepend: path_type | prepend: site.category_archive.path | relative_url }}" rel="tag">{{ category_word }}</a>
        </li>

        {% endfor %}

      </ul>

      <h3 class="nav__title">Tags</h3>


      <ul class="taxonomy-list">
        {% assign tags = site.tags | sort %}
        {% for tag in tags %}

        <li>
          {% capture tag_word %}{{ tag[0] | strip_newlines }}{% endcapture %}
          <a href="{{ tag_word | slugify | prepend: path_type | prepend: site.tag_archive.path | relative_url }}" rel="tag">{{ tag_word }}</a>
        </li>

        {% endfor %}

      </ul>


    {% endif %}
  </div>
{% endif %}