---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

$header-font-family: "Oswald", -apple-system, BlinkMacSystemFont, "Roboto", "Segoe UI",
"Helvetica Neue", "Lucida Grande", Arial, sans-serif;

$global-font-family: 'Lato', -apple-system, BlinkMacSystemFont, "Roboto", "Segoe UI",
"Helvetica Neue", "Lucida Grande", Arial, sans-serif;




@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials


img.image-circle{
  border-radius: 50%;
}

img.center-image{
  max-width:225px;
  display:block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

img.top-thumbnail{
  max-height: 228px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}




//.grid__item {
//  margin-bottom: 2em;
//
//  @include breakpoint($small) {
//    float: left;
//    width: span(5 of 10);
//
//    &:nth-child(2n + 1) {
//      clear: both;
//      margin-left: 0;
//    }
//
//    &:nth-child(2n + 2) {
//      clear: none;
//      margin-left: gutter(of 10);
//    }
//  }
//
//  @include breakpoint($medium) {
//    float: left;
//    width: span(5 of 10);
//
//    &:nth-child(2n + 1) {
//      clear: both;
//      margin-left: 0;
//    }
//
//    &:nth-child(2n + 2) {
//      clear: none;
//      margin-left: gutter(of 10);
//    }
//  }
//
//
//
//  .page__meta {
//    margin: 0 0 4px;
//    font-size: 0.6em;
//  }
//
//  .archive__item-title {
//    margin-top: 0.5em;
//    font-size: $type-size-5;
//  }
//
//  .archive__item-excerpt {
//    display: none;
//
//    @include breakpoint($medium) {
//      display: block;
//      font-size: $type-size-6;
//    }
//  }
//
//  .archive__item-teaser {
//    @include breakpoint($small) {
//      max-height: 200px;
//    }
//
//    @include breakpoint($medium) {
//      max-height: 120px;
//    }
//  }
//}


img.badge {
  max-height: 150px;
  max-width: 200px;
}


.layout--single .page img{
  display: block;
  margin: auto;
}

.layout--about{
  overflow-x: hidden;


  h2.section{
    background-color: $primary-color;
    padding: 10px;
    color:$lighter-gray;
    font-size:2em;
    margin-left:-100%;
    text-align:center;
    margin-right: -100%;
    padding-left: 100%;
    padding-right: 100%;
  }
}


.layout--project{
  figure > a{
    max-height:180px;
    overflow-y:hidden;
  }
}

.grid{
  $medium-image-size: 200px;
  $large-image-size: 170px;
  text-align:center;
  a{
    display:block;
    float:left;
    color: $text-color;
    text-decoration: none;
    width: 100%;
    @include breakpoint($medium){
      width: span(3 of 6);
      .frame{
        min-height: $medium-image-size;
      }

    }
    @include breakpoint($large){
      width: span(3 of 9);
      .frame{
        min-height: $large-image-size;
      }
    }

  }
 img{
    max-width: 100%;
   max-height: 228px;
   @include breakpoint($medium) {
     max-height: $medium-image-size;
   }
   @include breakpoint($large){
     max-height: $large-image-size;
   }

  }
}

.taxonomy-list{
  margin-top: 0;
  padding: 0;
 li{
   list-style:none;
   margin: 0;
   padding: 0;
 }
}

.license{
  //max-width: 300px;
  margin-left: auto; margin-right: auto;
  font-size:0.75em;
  display: table;
  background-color: $lighter-gray;
  border: solid $gray;
  padding: 10px;
  .license-badge, .license-text{
    //float: left;
    display: table-cell;
    vertical-align:middle;
  }

  .license-badge{
    font-size:40px;
    line-height: 40px;
    padding:0;
    margin:0;
  }
  .license-text{
    padding-left: 10px;
    margin: 0;
    max-width: 300px;
  }
}

.download-preview{
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width:200px;
  border: solid 1px $lighter-gray;
  padding:5px;
}

.scratchblocks-embed{
  border:solid 1px #DDD;
  padding:10px;
  min-width: 50%;
  margin:0;
  position:relative;
}

.page__content p.scratchblocks-link{
  position:absolute;
  bottom:0;
  left:0;
  padding:0;
  margin:-1px;

  a, a:hover{
    text-decoration:none !important;
    font-size:0.6em;
    background-color:#ccc;
    padding: 4px;
    color: #1d1d1d;


  }
}