---
layout: single
---

{{content}}

<h2 class="section">Certifications</h2>

<div class='text-center'>

    {% for badge in page.badges %}
    <img src="{{ badge.url | relative_url }}" alt = "{{badge.alt}}" class="badge">
    {% endfor %}

</div>


<h2 class="section">Programming Projects</h2>
<p class="text-center">Click on a project to learn more about it.</p>
<div class="grid">
    {% assign all_projects = site.projects | concat: site.addons %}
    {% assign sorted_projects = all_projects | sort:"date" | reverse %}

    {% for project in sorted_projects %}

        {% unless project.exclude_from_about %}
        <a href="{{project.url}}">
            <div class="frame">
                {% image_tag src=project.thumbnail height="228" alt=project.thumbnail_alt %}
            </div>
            <p>{{ project.title}}</p>


        </a>
        {% endunless %}
    {% endfor %}
</div>